.card-pokemon {
	border: 1.5px solid grey;
	border-radius: 10px;
	background-color: aquamarine;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: left;
	width: 150px;
}
.card-pokemon-img {
	align-self: center;
	height: 120px;
}
.card-pokemon__name {
	text-transform: capitalize;
	margin: 0;
	text-align: center;
	border-top: 1.5px solid grey;
	border-bottom: 1.5px solid grey;
	font-weight: normal;
	width: 100%;
	color: grey;
	align-self: center;
	
}

.card-pokemon__types {
	font-size: 13px;
	padding-left: 8px;
	display: flex;
	color: white;
}

.card-pokemon__type {
	list-style: none;
	background-color: grey;
	border-radius: 6px;
	margin: 8px 3px;
	padding: 4px;
	text-transform: uppercase;
}

.fav {
	background-color: rgb(201, 176, 224);
}