.card-pokemon {
	border: 1px solid grey;
	border-radius: 4px;
	padding: 15px;
	background-color: aquamarine;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 120px;
}
.card-pokemon__types {
	padding: 0;
	display: flex;
	color: white;
}

.card-pokemon__type {
	padding: 3px;
}

.card-pokemon__name {
	text-align: center;
	border: 1px solid grey;
}

.card-pokemon__type {
	list-style: none;
	background-color: grey;
	border-radius: 3px;
	margin: 5px;
}